<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Formulário de Inscrição</title>
</head>
<body>
    <h1>Formulário de Inscrição</h1>
    <h2>Preencha seus dados</h2>
    <label>Nome</label>
    <input type="text" id="nome" required>
    <br><br>
    <label>E-mail</label>
    <input type="text" id="email" required>
    <br><br>
    <label>Endereço</label>
    <input type="text" id="endereco" required>
    <br><br>
    <label>Cidade</label>
    <input type="text" id="cidade" required>
    <br><br>
    <label>Telefone</label>
    <input type="text" id="ddd" required size="1"><input type="text" id="numero" required>
    <br><br>
    <label>Usuário</label>
    <input type="text" id="usuario" required>
    <br><br>
    <label>Senha</label>
    <input type="text" id="senha" required>
    <br><br>
    <a href="../index.html">
    <button type="submit">Finalizar minha inscrição</button>
    </a>
    <a href="../index.html">
    <button type="button">Voltar</button>
    </a>
</body>
</html>