<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Página Pessoal</title>
</head>
<body>
    <h1>Meus Dados</h1>
    <br>
    <li><strong>Nome:</strong></li>
    <br>
    <li>Matheus Augusto Cavalcante Maia</li>
    <br>
    <li><strong>Idade:</strong></li>
    <br>
    <li>22</li>
    <br>
    <li><strong>Endereço:</strong></li>
    <br>
    <li>Rua....... - João Pessoa - Paraíba</li>
    <br>
    <li><strong>CEP: 9999999999</strong></li>
    <br>
    <li><strong>Telefone:</strong></li>
    <br>
    <li>83999999999</li>
    <br>
    <li><strong>Email:</strong></li>
    <br>
    <li>matheus.....@gmail.com</li>
    <br>
    <a href="alterardados.html">
    <button type="button">Alterar dados</button>
    </a>
</body>
</html>